<div class="container-fluid">
    <div class="row">
        <div class="col-md-1" ng-controller="SideNavCtrl">
            <div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-80" bs-affix bs-scrollspy-list>
                <ul class="nav bs-sidenav" >
                    <li data-target="#step1" bs-scrollspy><a ng-click="scrollTo('step1')">1. Concept</a></li>
                    <li data-target="#step2" bs-scrollspy><a ng-click="scrollTo('step2')">2. Metatype</a></li>
                    <li data-target="#step3" bs-scrollspy><a ng-click="scrollTo('step3')">3. Step 3</a></li>
                    <li data-target="#step4" bs-scrollspy><a ng-click="scrollTo('step4')">4. Step 4</a></li>
                    <li data-target="#step5" bs-scrollspy><a ng-click="scrollTo('step5')">5. Step 5</a></li>
                    <li data-target="#step6" bs-scrollspy><a ng-click="scrollTo('step6')">6. Step 6</a></li>
                    <li data-target="#step7" bs-scrollspy><a ng-click="scrollTo('step7')">7. Step 7</a></li>
                    <li data-target="#step8" bs-scrollspy><a ng-click="scrollTo('step8')">8. Step 8</a></li>
                    <li data-target="#step9" bs-scrollspy><a ng-click="scrollTo('step9')">9. Step 9</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-11">
            <body class="content">
                <div>
                    <div class="page-header">
                        <h1 id="step1">Step 1 - Choose Concept</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h1 id="step2">Step 2 - Creating</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h1 id="step3">Step 3 - Creating</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h1 id="step4">Step4 - Creating</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h1 id="step5">Step 5 - Creating</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h1 id="step6">Step 6 - Creating</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h1 id="step7">Step 7 - Creating</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h1 id="step8">Step 8 - Creating</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h1 id="step9">Step 9 - Creating</h1>
                    </div>
                    <p>
                        If jQuery is available, angular.element is an alias for the jQuery function. If jQuery is not available, angular.element delegates to Angular's built-in subset of jQuery, called "jQuery lite" or jqLite.

                        jqLite is a tiny, API-compatible subset of jQuery that allows Angular to manipulate the DOM in a cross-browser compatible way. jqLite implements only the most commonly needed functionality with the goal of having a very small footprint.

                        To use jQuery, simply ensure it is loaded before the angular.js file. You can also use the ngJq directive to specify that jqlite should be used over jQuery, or to use a specific version of jQuery if multiple versions exist on the page.
                    </p>
                </div>
            </body>
        </div>
    </div>
</div>