.view-animate.ng-enter {
    -webkit-transition: .5s linear all; /* Chrome */
    transition: .5s linear all;
    opacity: 0;
}

.view-animate.ng-enter.ng-enter-active {
    opacity: 1
}

.view-animate.ng-leave {
    opacity: 1
}

.view-animate.ng-leave.ng-leave-active {
    -webkit-transition: .5s linear all; /* Chrome */
    transition: .5s linear all;
    opacity: 0;
}

.condition-fill {
    background-color: rgba(255, 0, 0, 0.5);
}
.condition-hover {
    background-color: rgba(255, 0, 0, 0.13);
}

.condition-block {
    background-color: grey;
}

.condition-btn {

}

.bs-sidebar li.active {
    border-right: 2px solid royalblue;
}

.content {
    margin-top: 70px;
}